In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
df = pd.read_csv("archive/data.csv", names = ['label','id', 'time', 'flag', 'user','text'],header=None)

In [3]:
df.head(10)

,label,id,time,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [4]:
df['label'].unique()

array([0, 4], dtype=int64)

In [5]:
df['label'] = df['label'].map(lambda x: 1 if( x == 4) else 0 )

df.tail(5)

,label,id,time,flag,user,text
1599995,1,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,1,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,1,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,1,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,1,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [6]:
df.drop(["id",'time','flag','user'],axis=1,inplace = True)

df.head(5)

   label                                               text
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [7]:

df['text'] = df['text'].replace(
        to_replace ='@\w+', value = '', regex = True
    ).replace(
        to_replace ='https?://\S+', value = '', regex = True
    ).replace(
        to_replace ='www\.\S+', value = '', regex = True
    ).replace(
        to_replace= '[^\w\s]', value='', regex = True
    ).str.lower()

df.head(10)

   label                                               text
0      0     awww thats a bummer  you shoulda got david ...
1      0  is upset that he cant update his facebook by t...
2      0   i dived many times for the ball managed to sa...
3      0    my whole body feels itchy and like its on fire
4      0   no its not behaving at all im mad why am i he...
5      0                                not the whole crew
6      0                                        need a hug
7      0   hey  long time no see yes rains a bit only a ...
8      0                           nope they didnt have it
9      0                                     que me muera

In [8]:
total_samples = 1600000
classes = 2
no_of_samples_per_class = 800000
mean = df['text'].map(lambda x: len(x.split())).mean()
mean

12.49858625

In [9]:
len(max(df['text'], key=len))

180

In [10]:
shuffled_df = df.reindex(np.random.permutation(df.index))

shuffled_df

         label                                               text
1233249      1                coming to new orleans anytime soon
811724       1             packing for holidays  only 3 days omg
718547       0  just finished watching selena the movie so sad
455062       0  so fucking mad agh i hate being 13 and having ...
963780       1  going to walmart with my mummy  she is alll go...
...        ...                                                ...
1379690      1   please support electrik red and sign these   ...
349863       0  whats got me insane cause i cant stand the rai...
518859       0                             gmail still down here
477545       0   hey sweetiemy weekend was sad went to a funer...
1150832      1    nitey nite tweeties my kitty is knocked out ...

[1600000 rows x 2 columns]

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(shuffled_df['text'], shuffled_df['label'], random_state=0)

x_train.shape, x_val.shape, y_train.shape, y_val.shape

((1200000,), (400000,), (1200000,), (400000,))

In [12]:
from tensorflow.python.keras.preprocessing import text,sequence

top_k = 20000
max_sequence_length = 500

def sequence_vectorize(train_text, val_text):
    tokenizer = text.Tokenizer(num_words=top_k)
    tokenizer.fit_on_texts(train_text)
    
    x_train = tokenizer.texts_to_sequences(train_text)
    x_val = tokenizer.texts_to_sequences(val_text)
    
    max_length = len(max(x_train, key=len))
    
    if max_length > max_sequence_length:
        max_length = max_sequence_length
    
    x_train = sequence.pad_sequences(x_train, maxlen=max_length)
    x_val = sequence.pad_sequences(x_val, maxlen=max_length)
    
    return x_train, x_val, tokenizer.word_index

In [13]:
x_train, x_val, word_tokens = sequence_vectorize(x_train, x_val)

In [14]:
x_train[0]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,  453, 5027,   13,
        411,  106, 1204,    5, 3088,  691])

In [15]:
x_train.shape, x_val.shape

((1200000, 39), (400000, 39))

In [16]:
word_tokens

{'i': 1,
 'to': 2,
 'the': 3,
 'a': 4,
 'my': 5,
 'and': 6,
 'you': 7,
 'is': 8,
 'it': 9,
 'for': 10,
 'in': 11,
 'of': 12,
 'im': 13,
 'on': 14,
 'me': 15,
 'so': 16,
 'have': 17,
 'that': 18,
 'but': 19,
 'just': 20,
 'with': 21,
 'be': 22,
 'at': 23,
 'its': 24,
 'not': 25,
 'was': 26,
 'this': 27,
 'now': 28,
 'good': 29,
 'up': 30,
 'day': 31,
 'get': 32,
 'all': 33,
 'out': 34,
 'like': 35,
 'are': 36,
 'no': 37,
 'go': 38,
 'dont': 39,
 'do': 40,
 'your': 41,
 'today': 42,
 'going': 43,
 'too': 44,
 'love': 45,
 'cant': 46,
 'work': 47,
 'got': 48,
 'time': 49,
 'back': 50,
 'from': 51,
 'lol': 52,
 'u': 53,
 'one': 54,
 'what': 55,
 'will': 56,
 'know': 57,
 'we': 58,
 'about': 59,
 'really': 60,
 'am': 61,
 'had': 62,
 'can': 63,
 'see': 64,
 'some': 65,
 'well': 66,
 'if': 67,
 'still': 68,
 'new': 69,
 'want': 70,
 'how': 71,
 'think': 72,
 'night': 73,
 'amp': 74,
 'thanks': 75,
 'as': 76,
 'home': 77,
 'when': 78,
 'there': 79,
 'oh': 80,
 '2': 81,
 'more': 82,
 'much': 83,
 'miss': 84,
 'off': 85,
 'here': 86,
 'they': 87,
 'need': 88,
 'last': 89,
 'an': 90,
 'then': 91,
 'been': 92,
 'morning': 93,
 'hope': 94,
 'has': 95,
 'great': 96,
 'tomorrow': 97,
 'ill': 98,
 'or': 99,
 'twitter': 100,
 'her': 101,
 'thats': 102,
 'haha': 103,
 'feel': 104,
 'again': 105,
 'sad': 106,
 'he': 107,
 'fun': 108,
 'only': 109,
 'wish': 110,
 'why': 111,
 'right': 112,
 'didnt': 113,
 'bad': 114,
 'sleep': 115,
 'would': 116,
 'very': 117,
 'happy': 118,
 'sorry': 119,
 'by': 120,
 'did': 121,
 'tonight': 122,
 'come': 123,
 'make': 124,
 'them': 125,
 'getting': 126,
 'were': 127,
 'way': 128,
 'though': 129,
 'gonna': 130,
 'ive': 131,
 'nice': 132,
 'over': 133,
 'better': 134,
 'watching': 135,
 'should': 136,
 'she': 137,
 'wait': 138,
 'could': 139,
 'yeah': 140,
 'bed': 141,
 'week': 142,
 'youre': 143,
 'people': 144,
 'school': 145,
 'hate': 146,
 'him': 147,
 'days': 148,
 'even': 149,
 'after': 150,
 'hey': 151,
 'next': 152,
 'down': 153,
 'weekend': 154,
 'yes': 155,
 'awesome': 156,
 'never': 157,
 'thank': 158,
 'soon': 159,
 'little': 160,
 'take': 161,
 'long': 162,
 'first': 163,
 'wanna': 164,
 'working': 165,
 'who': 166,
 'best': 167,
 'say': 168,
 'please': 169,
 'doing': 170,
 'having': 171,
 'show': 172,
 'being': 173,
 '4': 174,
 'tired': 175,
 'watch': 176,
 'sick': 177,
 'everyone': 178,
 'ok': 179,
 'his': 180,
 'wont': 181,
 'our': 182,
 '3': 183,
 'any': 184,
 'life': 185,
 'done': 186,
 'feeling': 187,
 'sure': 188,
 'always': 189,
 'friends': 190,
 'already': 191,
 'thing': 192,
 'than': 193,
 'another': 194,
 'cool': 195,
 'us': 196,
 'find': 197,
 'something': 198,
 'guys': 199,
 'ready': 200,
 'x': 201,
 'made': 202,
 'where': 203,
 'because': 204,
 'looking': 205,
 'yay': 206,
 'man': 207,
 'went': 208,
 'phone': 209,
 'look': 210,
 'doesnt': 211,
 'hours': 212,
 'ur': 213,
 'before': 214,
 'yet': 215,
 'house': 216,
 'movie': 217,
 'pretty': 218,
 'ever': 219,
 'trying': 220,
 'maybe': 221,
 'away': 222,
 'omg': 223,
 'finally': 224,
 'old': 225,
 'summer': 226,
 'help': 227,
 'amazing': 228,
 'let': 229,
 'things': 230,
 'early': 231,
 'lost': 232,
 'left': 233,
 'tweet': 234,
 'into': 235,
 'guess': 236,
 'keep': 237,
 'someone': 238,
 'damn': 239,
 'follow': 240,
 'missed': 241,
 'thought': 242,
 'bit': 243,
 'big': 244,
 'lt3': 245,
 'same': 246,
 'havent': 247,
 'hot': 248,
 'sucks': 249,
 'while': 250,
 'wow': 251,
 'nothing': 252,
 'friend': 253,
 'year': 254,
 'glad': 255,
 'rain': 256,
 'try': 257,
 'other': 258,
 'start': 259,
 'coming': 260,
 'tell': 261,
 'looks': 262,
 'birthday': 263,
 'also': 264,
 'live': 265,
 'bored': 266,
 'two': 267,
 '1': 268,
 'does': 269,
 'hear': 270,
 'weather': 271,
 'girl': 272,
 'those': 273,
 'later': 274,
 'baby': 275,
 'saw': 276,
 'song': 277,
 'makes': 278,
 'sun': 279,
 'ya': 280,
 'actually': 281,
 'isnt': 282,
 'stuff': 283,
 'n': 284,
 'might': 285,
 'waiting': 286,
 'excited': 287,
 'said': 288,
 'party': 289,
 'hard': 290,
 'play': 291,
 'hes': 292,
 'until': 293,
 'game': 294,
 'since': 295,
 'few': 296,
 'ugh': 297,
 'such': 298,
 'yesterday': 299,
 'lot': 300,
 'around': 301,
 'gotta': 302,
 'id': 303,
 'late': 304,
 'world': 305,
 'myself': 306,
 'hi': 307,
 'god': 308,
 'many': 309,
 'sounds': 310,
 'luck': 311,
 'car': 312,
 'found': 313,
 'check': 314,
 'music': 315,
 'their': 316,
 'job': 317,
 'beautiful': 318,
 'read': 319,
 'give': 320,
 'head': 321,
 'must': 322,
 'cold': 323,
 'friday': 324,
 'call': 325,
 'put': 326,
 'whats': 327,
 'making': 328,
 'may': 329,
 'gone': 330,
 'talk': 331,
 'least': 332,
 'aww': 333,
 'missing': 334,
 'sunday': 335,
 'anything': 336,
 'mom': 337,
 'woke': 338,
 '5': 339,
 'stop': 340,
 'till': 341,
 'monday': 342,
 'poor': 343,
 'leave': 344,
 'use': 345,
 'times': 346,
 'almost': 347,
 'listening': 348,
 'most': 349,
 'cute': 350,
 'tho': 351,
 'okay': 352,
 'lunch': 353,
 'hair': 354,
 'hurts': 355,
 'eat': 356,
 'far': 357,
 'wanted': 358,
 'family': 359,
 'mean': 360,
 'theres': 361,
 'iphone': 362,
 'funny': 363,
 'shes': 364,
 'free': 365,
 'finished': 366,
 'end': 367,
 'food': 368,
 'enjoy': 369,
 'hour': 370,
 'believe': 371,
 'dinner': 372,
 'without': 373,
 'playing': 374,
 'forward': 375,
 'anyone': 376,
 'shit': 377,
 'welcome': 378,
 'followers': 379,
 'thinking': 380,
 'everything': 381,
 'sweet': 382,
 'which': 383,
 'video': 384,
 'totally': 385,
 'cause': 386,
 'wasnt': 387,
 'buy': 388,
 'enough': 389,
 'these': 390,
 'stupid': 391,
 'through': 392,
 'outside': 393,
 'weeks': 394,
 'hahaha': 395,
 'r': 396,
 'mine': 397,
 'anymore': 398,
 'every': 399,
 'real': 400,
 'wrong': 401,
 'coffee': 402,
 'probably': 403,
 'w': 404,
 'couldnt': 405,
 'eating': 406,
 'once': 407,
 'stay': 408,
 'room': 409,
 'wants': 410,
 'sooo': 411,
 'place': 412,
 'tweets': 413,
 'money': 414,
 'hell': 415,
 'xx': 416,
 'tv': 417,
 'win': 418,
 'busy': 419,
 'following': 420,
 'lovely': 421,
 'whole': 422,
 'o': 423,
 'ha': 424,
 'came': 425,
 'seen': 426,
 'says': 427,
 'saturday': 428,
 'pic': 429,
 'kids': 430,
 'taking': 431,
 'kinda': 432,
 'class': 433,
 '10': 434,
 'took': 435,
 'both': 436,
 'beach': 437,
 's': 438,
 'exam': 439,
 'lets': 440,
 'crazy': 441,
 'years': 442,
 'headache': 443,
 'name': 444,
 'hopefully': 445,
 'd': 446,
 'super': 447,
 'idea': 448,
 'theyre': 449,
 'book': 450,
 'dad': 451,
 'able': 452,
 'hello': 453,
 'news': 454,
 'forgot': 455,
 'guy': 456,
 'half': 457,
 'goodnight': 458,
 'true': 459,
 'face': 460,
 'post': 461,
 'meet': 462,
 'rest': 463,
 'leaving': 464,
 'girls': 465,
 'lots': 466,
 'sitting': 467,
 'either': 468,
 'send': 469,
 'full': 470,
 'ago': 471,
 'reading': 472,
 'used': 473,
 'else': 474,
 'hurt': 475,
 'feels': 476,
 'computer': 477,
 'shopping': 478,
 'soo': 479,
 'run': 480,
 'ah': 481,
 'awww': 482,
 'needs': 483,
 'seems': 484,
 'talking': 485,
 'remember': 486,
 'stuck': 487,
 'hit': 488,
 'tried': 489,
 'watched': 490,
 'heard': 491,
 'cuz': 492,
 'raining': 493,
 'alone': 494,
 'own': 495,
 'blog': 496,
 '6': 497,
 'trip': 498,
 'b': 499,
 'office': 500,
 'started': 501,
 'boo': 502,
 'dog': 503,
 'heart': 504,
 'fuck': 505,
 'btw': 506,
 'course': 507,
 'seeing': 508,
 'kind': 509,
 'internet': 510,
 'part': 511,
 'mind': 512,
 'hehe': 513,
 'quite': 514,
 'using': 515,
 'picture': 516,
 'told': 517,
 'awake': 518,
 'add': 519,
 'loved': 520,
 'online': 521,
 'goes': 522,
 'pics': 523,
 'til': 524,
 'boy': 525,
 'pain': 526,
 'la': 527,
 'sunny': 528,
 'breakfast': 529,
 'break': 530,
 'cry': 531,
 'fine': 532,
 'bought': 533,
 'seriously': 534,
 'person': 535,
 'boring': 536,
 'aw': 537,
 'wake': 538,
 'gets': 539,
 'change': 540,
 'broke': 541,
 'called': 542,
 'youll': 543,
 'update': 544,
 'starting': 545,
 'care': 546,
 'minutes': 547,
 'concert': 548,
 'facebook': 549,
 'open': 550,
 'dude': 551,
 'pay': 552,
 'season': 553,
 'favorite': 554,
 'lucky': 555,
 'lmao': 556,
 'ass': 557,
 'asleep': 558,
 'june': 559,
 '8': 560,
 '30': 561,
 'site': 562,
 'bring': 563,
 'email': 564,
 'reply': 565,
 'heading': 566,
 'sleeping': 567,
 'mothers': 568,
 'hungry': 569,
 'instead': 570,
 'link': 571,
 'crap': 572,
 'xd': 573,
 'anyway': 574,
 'month': 575,
 'walk': 576,
 'afternoon': 577,
 'drive': 578,
 'fan': 579,
 'red': 580,
 'train': 581,
 'jealous': 582,
 'shower': 583,
 'enjoying': 584,
 'study': 585,
 '100': 586,
 'bout': 587,
 'soooo': 588,
 'text': 589,
 'exams': 590,
 'definitely': 591,
 'ice': 592,
 'mad': 593,
 'yea': 594,
 '7': 595,
 'sore': 596,
 'move': 597,
 'wonderful': 598,
 'running': 599,
 'bye': 600,
 'died': 601,
 'bday': 602,
 'fail': 603,
 'finish': 604,
 'hoping': 605,
 'goin': 606,
 'congrats': 607,
 'problem': 608,
 'together': 609,
 'happened': 610,
 'fucking': 611,
 'ones': 612,
 'rock': 613,
 'sister': 614,
 'works': 615,
 'means': 616,
 'high': 617,
 'city': 618,
 'ask': 619,
 'sometimes': 620,
 'dead': 621,
 'dear': 622,
 'homework': 623,
 'movies': 624,
 'couple': 625,
 'won': 626,
 'comes': 627,
 'drink': 628,
 'brother': 629,
 'write': 630,
 'tour': 631,
 'cut': 632,
 'boys': 633,
 'album': 634,
 'wouldnt': 635,
 'suck': 636,
 '12': 637,
 'eyes': 638,
 'loves': 639,
 'p': 640,
 'set': 641,
 'months': 642,
 'laptop': 643,
 'top': 644,
 'tea': 645,
 'ppl': 646,
 'ipod': 647,
 'gt': 648,
 'arent': 649,
 'church': 650,
 'youtube': 651,
 'sound': 652,
 'water': 653,
 'reason': 654,
 'evening': 655,
 'meeting': 656,
 'dream': 657,
 'songs': 658,
 'visit': 659,
 'town': 660,
 'perfect': 661,
 'final': 662,
 'studying': 663,
 'lil': 664,
 'listen': 665,
 'gym': 666,
 'happen': 667,
 'weird': 668,
 'nap': 669,
 'yall': 670,
 'nite': 671,
 'side': 672,
 'loving': 673,
 'seem': 674,
 'close': 675,
 'dance': 676,
 'tickets': 677,
 'sigh': 678,
 'less': 679,
 'fall': 680,
 'fb': 681,
 'ate': 682,
 'hang': 683,
 'english': 684,
 'mood': 685,
 'cat': 686,
 'agree': 687,
 'catch': 688,
 'cream': 689,
 'knew': 690,
 'test': 691,
 'list': 692,
 'interesting': 693,
 'moment': 694,
 'saying': 695,
 'writing': 696,
 'second': 697,
 'wishing': 698,
 'clean': 699,
 'aint': 700,
 'turn': 701,
 'story': 702,
 'broken': 703,
 'worst': 704,
 'awards': 705,
 'store': 706,
 'unfortunately': 707,
 'worth': 708,
 'ahh': 709,
 'smile': 710,
 'chocolate': 711,
 'via': 712,
 'ride': 713,
 'pool': 714,
 'supposed': 715,
 'word': 716,
 '20': 717,
 'fast': 718,
 'throat': 719,
 'page': 720,
 'london': 721,
 'moving': 722,
 'air': 723,
 'driving': 724,
 'xxx': 725,
 'past': 726,
 '1st': 727,
 'sent': 728,
 'three': 729,
 'understand': 730,
 'pictures': 731,
 'dreams': 732,
 'photo': 733,
 'wedding': 734,
 'horrible': 735,
 'drinking': 736,
 'gave': 737,
 'forget': 738,
 'da': 739,
 'followfriday': 740,
 'park': 741,
 'cleaning': 742,
 'yep': 743,
 'short': 744,
 'pick': 745,
 'sleepy': 746,
 'black': 747,
 'wonder': 748,
 'sunshine': 749,
 'jonas': 750,
 'plan': 751,
 'college': 752,
 'chance': 753,
 'worse': 754,
 'team': 755,
 'account': 756,
 'rather': 757,
 'em': 758,
 'fell': 759,
 'tweeting': 760,
 'vote': 761,
 'parents': 762,
 'hmm': 763,
 'hugs': 764,
 'bet': 765,
 'moon': 766,
 'star': 767,
 'scared': 768,
 'date': 769,
 'cannot': 770,
 'longer': 771,
 'apparently': 772,
 'point': 773,
 'slow': 774,
 'sat': 775,
 'special': 776,
 'easy': 777,
 'under': 778,
 'green': 779,
 'flight': 780,
 'youve': 781,
 'spent': 782,
 'huge': 783,
 'upset': 784,
 'holiday': 785,
 'c': 786,
 'spend': 787,
 'lady': 788,
 'mac': 789,
 'due': 790,
 'tuesday': 791,
 'mtv': 792,
 'earlier': 793,
 'mum': 794,
 'plans': 795,
 'hows': 796,
 'hand': 797,
 'updates': 798,
 'hanging': 799,
 'flu': 800,
 'nope': 801,
 'website': 802,
 'fair': 803,
 '9': 804,
 'wtf': 805,
 'plus': 806,
 'wondering': 807,
 'thx': 808,
 'join': 809,
 'ps': 810,
 'band': 811,
 'message': 812,
 'miley': 813,
 'shows': 814,
 'shame': 815,
 'words': 816,
 'slept': 817,
 'uk': 818,
 'bus': 819,
 'forever': 820,
 'brothers': 821,
 'worry': 822,
 'sadly': 823,
 'body': 824,
 'lazy': 825,
 'thinks': 826,
 'beer': 827,
 'voice': 828,
 'warm': 829,
 'mr': 830,
 'vacation': 831,
 'y': 832,
 'during': 833,
 'white': 834,
 'answer': 835,
 'thursday': 836,
 'wear': 837,
 'stomach': 838,
 'figure': 839,
 'looked': 840,
 'learn': 841,
 '15': 842,
 'line': 843,
 'different': 844,
 'ahhh': 845,
 'liked': 846,
 'especially': 847,
 'july': 848,
 'itll': 849,
 'inside': 850,
 'die': 851,
 'number': 852,
 'meant': 853,
 'idk': 854,
 'episode': 855,
 'fans': 856,
 'google': 857,
 'support': 858,
 'fix': 859,
 'cake': 860,
 'david': 861,
 'sims': 862,
 'photos': 863,
 'officially': 864,
 'pizza': 865,
 'chat': 866,
 'airport': 867,
 'met': 868,
 'camera': 869,
 'paper': 870,
 'felt': 871,
 'safe': 872,
 'myspace': 873,
 'crying': 874,
 'worked': 875,
 'small': 876,
 'rainy': 877,
 'tom': 878,
 'bbq': 879,
 'tummy': 880,
 'garden': 881,
 'shop': 882,
 'graduation': 883,
 'games': 884,
 'yummy': 885,
 'absolutely': 886,
 'dress': 887,
 'decided': 888,
 'proud': 889,
 'finals': 890,
 'shall': 891,
 'luv': 892,
 'power': 893,
 'beat': 894,
 'hug': 895,
 'rip': 896,
 'except': 897,
 'boyfriend': 898,
 '2day': 899,
 'project': 900,
 'eye': 901,
 'save': 902,
 'kill': 903,
 'lonely': 904,
 'each': 905,
 'shoes': 906,
 'yup': 907,
 'needed': 908,
 'blue': 909,
 'road': 910,
 'played': 911,
 'starts': 912,
 'kid': 913,
 'keeps': 914,
 'bike': 915,
 'radio': 916,
 'apple': 917,
 'wit': 918,
 'cos': 919,
 'gorgeous': 920,
 'hates': 921,
 'case': 922,
 'card': 923,
 'books': 924,
 'wishes': 925,
 'yourself': 926,
 'french': 927,
 'exactly': 928,
 'exciting': 929,
 'hospital': 930,
 'nights': 931,
 'chicken': 932,
 'sign': 933,
 'alright': 934,
 'annoying': 935,
 'wine': 936,
 'feet': 937,
 'fact': 938,
 'taken': 939,
 'near': 940,
 'dm': 941,
 'wednesday': 942,
 'front': 943,
 'packing': 944,
 'cd': 945,
 'twilight': 946,
 'babe': 947,
 'xoxo': 948,
 'moms': 949,
 'son': 950,
 'living': 951,
 'woo': 952,
 'lame': 953,
 'goodbye': 954,
 'realized': 955,
 'club': 956,
 'turned': 957,
 'laugh': 958,
 'waking': 959,
 'hubby': 960,
 'happens': 961,
 'scary': 962,
 'knows': 963,
 'jus': 964,
 'behind': 965,
 'share': 966,
 'bc': 967,
 '2nd': 968,
 'download': 969,
 'ouch': 970,
 'killing': 971,
 'gettin': 972,
 'pass': 973,
 'cup': 974,
 'videos': 975,
 'giving': 976,
 'business': 977,
 'lose': 978,
 'service': 979,
 'sold': 980,
 'yours': 981,
 'drunk': 982,
 'question': 983,
 'app': 984,
 'yo': 985,
 'although': 986,
 'minute': 987,
 'relaxing': 988,
 'along': 989,
 'hahah': 990,
 'order': 991,
 'touch': 992,
 'everybody': 993,
 'film': 994,
 'clothes': 995,
 'terrible': 996,
 'fantastic': 997,
 'revision': 998,
 'guitar': 999,
 'enjoyed': 1000,
 ...}

In [36]:
from tensorflow.keras import Sequential
from tensorflow.keras import layers

def sepcnn_model(blocks,
                 filters,
                 kernel_size,
                 embedding_dim,
                 dropout_rate,
                 pool_size,
                 input_shape,
                 num_features):
    model = Sequential()
    
    model.add(layers.Embedding(input_dim=num_features,
                            output_dim=embedding_dim,
                            input_length=input_shape[0],
                              name= 'embedding'))
    for _ in range(blocks-1):
        model.add(layers.Dropout(rate=dropout_rate))
        model.add(layers.SeparableConv1D(filters=filters,
                                  kernel_size=kernel_size,
                                  activation='relu',
                                  bias_initializer='random_uniform',
                                  depthwise_initializer='random_uniform',
                                  padding='same'))
        model.add(layers.MaxPooling1D(pool_size=pool_size))
    model.add(layers.Dropout(rate=dropout_rate))
    model.add(layers.SeparableConv1D(filters=filters * 2,
                              kernel_size=kernel_size,
                              activation='relu',
                              bias_initializer='random_uniform',
                              depthwise_initializer='random_uniform',
                              padding='same'))
    model.add(layers.GlobalAveragePooling1D())
    model.add(layers.Dropout(rate=dropout_rate))
    model.add(layers.Dense(1, activation='sigmoid'))
    
    return model

In [37]:
mymodel = sepcnn_model(blocks=2,
                 filters= 32,
                 kernel_size = 3,
                 embedding_dim = 200,
                 dropout_rate = 0.4,
                 pool_size = 2,
                 input_shape = (x_train.shape[1],1),
                 num_features = 20000)

mymodel.compile(optimizer = tf.keras.optimizers.Adam(learning_rate=0.01),
               loss = 'binary_crossentropy',
               metrics = ['binary_accuracy'])
mymodel.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 39, 200)           4000000

 dropout_21 (Dropout)        (None, 39, 200)           0

 separable_conv1d_40 (Separa  (None, 39, 32)           7032
 bleConv1D)

 max_pooling1d_12 (MaxPoolin  (None, 19, 32)           0
 g1D)

 dropout_22 (Dropout)        (None, 19, 32)            0

 separable_conv1d_41 (Separa  (None, 19, 64)           2208
 bleConv1D)

 global_average_pooling1d_9   (None, 64)               0
 (GlobalAveragePooling1D)

 dropout_23 (Dropout)        (None, 64)                0

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 4,009,305
Trainable params: 4,009,305
Non-trainable params: 0
_________________________________________________________________

In [38]:
from tensorflow.keras import callbacks

callback = callbacks.EarlyStopping(patience = 5,
                                  min_delta = 0.001,
                                  restore_best_weights = True)

In [41]:
print("Training on GPU...") if tf.config.list_physical_devices('GPU') else print("Training on CPU...")

Training on CPU...

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')]

In [ ]:
history = mymodel.fit(x_train, y_train,
         validation_data = (x_val, y_val),
         batch_size = 1024,
         epochs = 10,
         callbacks = [callback])

Epoch 1/10
1172/1172 [==============================] - 255s 217ms/step - loss: 0.4466 - binary_accuracy: 0.8007 - val_loss: 0.4443 - val_binary_accuracy: 0.8072
Epoch 2/10
1172/1172 [==============================] - 194s 166ms/step - loss: 0.4293 - binary_accuracy: 0.8087 - val_loss: 0.4465 - val_binary_accuracy: 0.8064
Epoch 3/10
1172/1172 [==============================] - 210s 179ms/step - loss: 0.4185 - binary_accuracy: 0.8141 - val_loss: 0.4471 - val_binary_accuracy: 0.8058
Epoch 4/10
1172/1172 [==============================] - 226s 192ms/step - loss: 0.4117 - binary_accuracy: 0.8169 - val_loss: 0.4500 - val_binary_accuracy: 0.8039
Epoch 5/10
1172/1172 [==============================] - 219s 187ms/step - loss: 0.4067 - binary_accuracy: 0.8194 - val_loss: 0.4399 - val_binary_accuracy: 0.8086
Epoch 6/10
1172/1172 [==============================] - 222s 190ms/step - loss: 0.4025 - binary_accuracy: 0.8215 - val_loss: 0.4763 - val_binary_accuracy: 0.7756
Epoch 7/10
 930/1172 [======================>.......] - ETA: 48s - loss: 0.3975 - binary_accuracy: 0.8242